#app-body {
  background-color: black;
}
#scoreboard {
  width: 60px;
  height: 50px;
  background-color: rgb(44, 44, 42);
  color: white;
  position: absolute;
  font-family: 'Audiowide', cursive;
  font-size: 14px;
  left: 335px;
  top: 160px;
  white-space: pre-wrap;
  padding-left: 5px;
  padding-top: 5px;
  border: dotted 1px grey;
}

#gameboy {
  width: 634;
  height: auto;
  position: relative;
  top: 0;
  z-index: -1;
  display: inline-block;
}

#tetris-board {
  position: absolute;
  top: 145px;
  left: 210px;
  border-left: dotted 2px #474747;
  border-right: dotted 2px #474747;
}

#next-piece {
  position: absolute;
  top: 265px;
  left: 355px;
}

#up {
  width: 31px;
  height: 40px;
  position: absolute;
  background-color: red;
  top: 484px;
  left: 186px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  opacity: 0;
}

#down {
  width: 31px;
  height: 40px;
  position: absolute;
  background-color: red;
  top: 553px;
  left: 186px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  opacity: 0;
}

#left {
  width: 31px;
  height: 40px;
  position: absolute;
  background-color: blue;
  top: 518px;
  left: 152px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: rotate(90deg);
  opacity: 0;
}

#right {
  width: 31px;
  height: 40px;
  position: absolute;
  background-color: blue;
  top: 518px;
  left: 220px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transform: rotate(270deg);
  opacity: 0;
}

#rotate {
  position: absolute;
  background-color: purple;
  width: 53px;
  height: 53px;
  top: 500px;
  left: 429px;
  border-radius: 50%;
  opacity: 0;
}

#rotate2 {
  position: absolute;
  background-color: purple;
  width: 53px;
  height: 53px;
  top: 526px;
  left: 356px;
  border-radius: 50%;
  opacity: 0;
}

#up:active, #down:active, #left:active,
#right:active, #rotate:active, #rotate2:active,
#start:active, #select:active {
  background-color:#000;
  opacity:0.5;
}

#next {
  width: 100px;
  position: absolute;
  color: white;
  font-family: 'Audiowide', cursive;
  font-size: 12px;
  top: 240px;
  left: 350px;
}

#start {
  position: absolute;
  background-color: red;
  width: 34px;
  height: 8px;
  top: 632px;
  left: 331px;
  opacity: 0;
  border-radius: 5px;
}

#select {
  position: absolute;
  background-color: red;
  width: 34px;
  height: 8px;
  top: 632px;
  left: 272px;
  opacity: 0;
  border-radius: 5px;
}

#pause-screen {
  position: absolute;
  background: rgba(40, 40, 40, 0.9);
  color: white;
  width: 214px;
  height: 181.5px;
  top: 144px;
  left: 210px;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
  line-height: 168px;
  opacity: 0;
  font-family: 'Audiowide', cursive;
  font-size: 26px;
}

#over-screen {
  position: absolute;
  background: rgba(40, 40, 40, 0.9);
  color: white;
  width: 214px;
  height: 181.5px;
  top: 144px;
  left: 210px;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
  /*line-height: 168px;*/
  opacity: 0;
  font-family: 'Audiowide', cursive;
  font-size: 26px;
}

#theme-song {
  display: none;
}

#game-over {
  display: none;
}

#game-title {
  width: 100%;
  display: inline-block;
  font-family: 'Bungee Outline', cursive;
  font-size: 58px;
  color: white;
  vertical-align: top;
  text-align: center;
  margin-top: 140px;
}

#instructions {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  position: absolute;
  top: 20px;
  left: 620px;
}

#spacebar-pic {
  /*display: inline-block;*/
  width: 360px;
  filter: invert(100%);
}

#push-any-key {
  position: absolute;
  top: 144px;
  left: 210px;
  z-index: 10;
  font-family: 'Audiowide', cursive;
  background-color: black;
  width: 214px;
  height: 181.5px;
  color: white;
  text-align: center;
  line-height: 168px;
}

#contact-links {
  display: auto;
  width: 360px;
  height: auto;
  position: absolute;
  right: 40px;
  bottom: 0px;
  width: 40px;
}

#contact-links img {
  /*display: inline-block;*/
  margin: 10px;
}

#contact-links img:hover {
  opacity: 0.6;
}
